<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testng_listener.Listener">
        </listener>
    </listeners>
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="regression">
        <classes>
            <class name="ContactUsTest.ContactUsClass">
                <methods>
                    <include name="verifyContactUs"></include>
                </methods>
            </class>
        </classes>
    </test>
<!--    <test verbose="2" preserve-order="true" name="overview page">-->
<!--        <classes>-->
<!--            <class name="OverviewPage.OverviewPageDisplayTest">-->
<!--                <methods>-->
<!--                 <include name="verifySpecialsTextDisplayedInOverviewPage"/>-->
<!--                <include name="VerifyNewProductTextDisplayedInOverViewPage"/>-->
<!--                <include name="VerifyBestSellersTextDisplayedInOverViewPage"/>-->
<!--                <include name="VerifyMyPersonalInfoTextDisplayedInOverViewPage"/>-->
<!--                 <include name="VerifyOurStoresTextDisplayedInOverViewPage"/>-->
<!--                 <include name="VerifyContactusTextDisplayedInOverViewPage"/>-->
<!--                 <include name="VerifyAboutUsTextDisplayedInOverViewPage"/>-->
<!--                 <include name="VerifyTermsAndConditionOfUseTextDisplayedInOverViewPage"/>-->
<!--                 <include name="VerifySitemapTextDisplayedInOverViewPage"/>-->
<!--                 <include name="VerifyMyAddressTextInOverViewPage"/>-->
<!--                 <include name="VerifyMyOrdersTestDisplayedInOverViewPage"/>-->
<!--                 <include name="VerifyMyCreditSlipsTextDisplayedInOverViewPage"/>-->
<!--                  <include name="VerifyWomenTextDisplayedInOverViewPage"/>-->

<!--            </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>